<ul class="main-navigation">
  <li><a href="{{ root_url }}/">博客首页</a></li>
  <li><a href="{{ root_url }}/blog/archives">博客列表</a></li>
  <li><a href="{{ root_url }}/blog/categories/ml/">机器学习</a></li>
  <li><a href="{{ root_url }}/blog/categories/java/">Java</a></li>
  <li><a href="{{ root_url }}/blog/categories/python/">Python</a></li>
  <li><a href="{{ root_url }}/blog/categories/linux/">Linux</a></li>
  <li><a href="{{ root_url }}/blog/categories/math/">数学</a></li>
  <li><a href="{{ root_url }}/blog/categories/others/">其它</a></li>
</ul>
